<div class="spacer"></div>

<div class="loginBox">
  <h1>Super Virtual</h1>
  <i class="fas fa-shopping-cart fa-7x" aria-hidden="true"></i>
  <h1>LOGIN</h1>
  <div class="loginForm">
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">
  </div>
  <div class="loginButtons">
    <button routerLink="dashboard" class="lgbutton">Login</button>
    <button class="lgbutton">Register</button>
  </div>
  
  <button class="facebookSignIn">Sign in with Facebook</button>
  <button class="googleSignIn">Sign in with Google</button>
</div>