<div class="completionContainer" id="completionContainer">
 

    <div class="card" *ngIf="cart['Carrefour']['compras'].length > 0">
      <div class="card-header d-flex align-items-center" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Carrefour
          </button>
          
        </h5>
        <span class="badge-header badge badge-primary badge-pill">{{cart['Carrefour']['cantidad']}}</span>
        <span class="ml-auto">TOTAL: $ {{cart['Carrefour']['total']}}</span>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" >
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex align-items-center" *ngFor="let compra of cart['Carrefour']['compras']">
              {{compra.nombre}} - {{compra.marca}}
              <span class="badge badge-primary badge-pill"> {{compra.cantidad}}</span>
              <span class="ml-auto">$ {{compra.precio*compra.cantidad}}</span>
            </li>
            <li class="total list-group-item d-flex justify-content-between align-items-center">
              TOTAL DE LA COMPRA
              <span>$ {{cart['Carrefour']['total']}}</span>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="cart['Dia']['compras'].length > 0">
        <div class="card-header d-flex align-items-center" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseOne">
              Dia
            </button>
            
          </h5>
          <span class="badge-header badge badge-primary badge-pill">{{cart['Dia']['cantidad']}}</span>
          <span class="ml-auto">TOTAL: $ {{cart['Dia']['total']}}</span>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" >
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex align-items-center" *ngFor="let compra of cart['Dia']['compras']">
                {{compra.nombre}} - {{compra.marca}}
                <span class="badge badge-primary badge-pill"> {{compra.cantidad}}</span>
                <span class="ml-auto">$ {{compra.precio*compra.cantidad}}</span>
              </li>
              <li class="total list-group-item d-flex justify-content-between align-items-center">
                TOTAL DE LA COMPRA
                <span>$ {{cart['Dia']['total']}}</span>
  
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
          <div class="total card-header d-flex align-items-center">
            TOTAL DE LA COMPRA
            <span class="ml-auto">$ {{cart['total']}}</span> 
          </div>
      </div>
      <div class="end-div d-flex align-items-center">
       
        <button class="end-button" data-toggle="modal" data-target="#exampleModalCenter">FINALIZAR COMPRA</button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Compra realizada con exito</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Compra finalizada.
                  Puede controlar el estado del envio desde nuestra App
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                 
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
